.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-container img {
  width: 50%;
  height: 300px;
  margin: 10px;
  object-fit: contain;
}
.imagen-derecha {
float: right;
width: 50%;
margin: 10px;
}