.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.card-container img {
  height: 300px;
  top: 320px;
}
.texto {
  width: 60%;
}
.tarjeta-derecha {
  float: right;
  margin: 10px;
  height: 300px;
  position: relative;
  top: -120px;
}