/* Inicio.css */
.inicio-container {
    text-align: center;
  }
  
  .inicio-container h2 {
    color: #007bff;
    margin-bottom: 15px;
  }
  
  .inicio-container p {
    line-height: 1.6;
    color: #555;
  }